* {
    margin: 0;
    padding: 0;
}

body {}

.background1 {
    background-image: url(../img/contatobk.jpg);
    height: 1080px;
    width: 1920px;
    position: relative;
}

#formatacao {
}

.tamanho {
    font-size: 30px;
}

ul :hover {
    color: rgb(255, 253, 253);
}