* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Ailerons;
    src: url(../fontes/andrrs/Anders.ttf);
}

body {
   
}
.background1{
    background-image: url(../img/contatobk.jpg);
    width: 1920px;
    height: 1080px;
}
.background2{
background-color: rgba(58, 29, 85, 0.7);
    width: 1920px;
    height: 1080px;

}

nav{
    height: 90px;
    text-decoration: none;
}

.itens-nav{
    padding-top: 30px;
}
.title_menu {
    font-size: 40px;
    font-family: Ailerons;
    color: #b71c1c;
}

.posicao-menu {
    font-size: 50px;
    margin-left: 35%;
}
.itens-menu{
    font-size: 20px;
    color: #ccc;
   
}
.itens-menu:hover{
    color: white;
    border-bottom: 1px solid red;


}
.title-page {
    font-family: Ailerons;
    font-size: 90px;
    color: #b71c1c;
    text-align: center;
    margin-top: 60px;
}
.subtitulo-page{
    font-size: 27px;
    color: white;
    font-weight: bold;
    text-align: center; 
    margin-bottom: 100px;
}