* {
    margin: 0;
    padding: 0;
}

.background1 {
    background-image: url(../img/contatobk.jpg);
    height: 1080px;
    width: 1920px;
    position: relative;
}

nav {
    background: #4a148c;
    height: 64px;
}

.left :hover {
    color: rgb(226, 145, 145);
    font-size: 19px;
    background: none;
    transition: 0.3s;
}

.ajuda_formatacao:hover {
    color: rgb(226, 145, 145);
    font-size: 19px;
    background: none;
    transition: all 0.3s;
}

nav:hover {
    background: #b71c1c;
    transition: all 0.3s;
}

.btn:hover {
    background: #4a148c;
}