* {
    margin: 0;
    padding: 0;
}

body {}

.background1 {
    background-image: url(../img/contatobk.jpg);
    height: 1080px;
    width: 1920px;
    position: relative;
}

#formatacao {
    height: 70px;
}

.tamanho {
    font-size: 30px;
}

#formatacao :hover {
    background: #b71c1c;
    transition: 1s;
}

ul :hover {
    color: black;
    font-size: 20px;
}